.battery {
    width: 20vh;
    border: 3px solid;
    height: 5vh;
    margin-bottom: 1vh;
}

.next {
    margin-left: 102%;
    margin-top: 6%;
    width: 0vh;
    height: 2vh;
    border: 2px solid;
}

.inner {
    border: 1px solid;
    margin-right: 10vh;
}

.low {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.74) 30%, white 30%); 
}

.medium {
    background: linear-gradient(to right, rgb(255, 208, 0) 60%, white 50%); 
}

.high {
    background: linear-gradient(to right, rgb(4, 170, 4) 100%, white 0%); 
}