.main {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.branch {
    z-index: -1;
    margin-top: 72px;
    border: 2px solid;
    position: absolute;
    height: 0vh;
    width: 30vh;
    color: grey;
    gap: 1px;
}

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(141, 204, 68);
    height: 5vh;
    width: 5vh;
    margin-top: 5vh;
    border-radius: 50%;
    font-size: 20px;
}

.purp {
    background-color: purple;
}

.grey{
    background-color: gray;
}

.grey > span {
    color:black;
}

span {
    color: white;
}