.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    height: 4vh;
    width: 14vh;
}

.main:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
    background: rgb(243, 243, 215);
}

a:hover {
    color: rgb(218, 89, 89);
}
