body {
    min-width: 575px;
    margin: 0;
    padding: 0;
}

.back {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 487px;
    color: #ffffff;
    background-color: #292d33;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #333333;
}

.main {
    display: flex;
    gap: 30px;
    width: 1062px;
    height: 621px;
}

section {
    height: 711px;
}

h1 {
    width: 450px;
    font-weight: 700;
    font-size: 3.75rem;
    margin: 0;
    line-height: 1.1;
    color: #f1c50e;
    font-family: Roboto,sans-serif;;
    text-align: left;
}

.h1-info {
    width: 447px;
    height: 336px;
    color: white;
    font-style: italic;
    margin: 20px 0 0;
    text-align: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 35px;
}

span {
    color: white;
    width: 417px;
    margin-top: 49px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.875rem;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

.right {
    width: 477px;
    height: 621px;
}


.photos {
    display: flex;
    gap: 30px;
}

.p-info {
    word-wrap: break-word;
}


.info {
    text-align: left;
    width: 100%;
    height: 62%;
}

.from {
    letter-spacing: 1px;
    margin: 12px -29px 0 1px;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-style: normal;
}

a {
    color: white;
}

.template {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 97px;
    color: #ffffff;
    background-color: #333333;
}

.lower {
    color: #adcce9;
    font-size: 0.8rem;
}

.templ {
    font-size: 0.8rem;
}

.lower:hover {
    color: #888888;
    text-decoration: none;
}

@media screen and (max-width: 1199px) {
    .main {
        width: 970px;
        height: 566px;
    }

    .right {
        width: 436px;
        height: 566px;
    }

    .h1-info {
        width: 406px;
        height: 303px;
    }

    .photos {
        width: 436px;
        height: 232px;
    }

    .small {
        width: 188px;
        height: 202px;
    }
}

@media screen and (max-width: 991px) {
    .back {
        height: 1231px;
        width: 100%;
    }

    section {
        height: 1498px;
    }

    .main {
        flex-wrap: wrap;
        width: 750px;
        height: 1407px;
    }

    .big {
        width: 720px;
        height: 758px;
    }

    .h1-info {
        width: 720px;
        height: 194px;
    }

    .small {
        width: 345px;
        height: 365px;
    }

}

@media screen and (max-width: 767px) {
    body {
        min-width: 767px;
    }

    .back {
        height: 1231px;
    }

    section {
        height: 2090px;
    }

    .right {
        width: 540px;
        height: 1476px;
    }

    .photos {
        flex-wrap: wrap;
    }

    .main {
        width: 540px;
        height: 2067px;
    }

    .small {
        width: 540px;
        height: 563px;
    }

    .big {
        width: 540px;
        height: 561px;
    }

    .p-info {
        width: 530px;
        height: 51px;
    }
}

@media screen and (max-width: 575px) {
    .main {
        width: 340px;
        height: 1407px;
    }

    .back {
        min-width: 767px;
        height: 853px;
    }

    section {
        min-width: 767px;
        height: 1498px;
    }

    .big {
        width: 340px;
        height: 342px;
    }

    .h1-info {
        width: 340px;
        height: 259px;
    }

    .small {
        width: 340px;
        height: 343px;
    }

    h1 {
        font-size: 2.25rem;
        width: 330px;
        height: 79px;
    }

    .p-info {
        width: 330px;
        height: 102px;
        margin-top: 80px;
    }

    .right {
        width: 340px;
        height: 1034px;
    }
}