body {
    padding: 0;
    margin: 0;
}

.content {
    width: 100%;
    height: 1663x;
    display: flex;
    justify-content: center;
}

.wrapper {
    text-align: center;
    width: 1140px;
    height: 1663px;
}

.fam-photo {
    margin: 40px auto 0;
    width: 854px;
    height: 854px;
    border-radius: 50%;
}

.main {
    margin: -239px auto 0;
    justify-content: center;
    align-items: center;
    width: 976px;
    height: 773px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

h1 {
    font-weight: 700;
    font-size: 4.5rem;
    margin: 40px auto 0;
    font-family: Merriweather, serif;
    line-height: 1.1;
    color: #0045be;
}

.blocks{
    padding: 20px;
    text-align: left;
    background-color: white;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 10%);
    width: 251px;
    height: 321px;
    padding: 20px;
}

.title {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 20px 0 0;
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
}

.inner {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #333333;
    width: 100%;
    height: 165px;
}

span {
    text-align: center;
    width: 417px;
    height: 67px;

}

.templates {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #333333;
    width: 100%;
    height: 97px;
    text-align: center;
}

.foot {
    font-size: 0.8rem;
    color: #9fc1fc;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

.foot:hover {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

@media screen and (max-width: 991px) {
    .wrapper {
        width: 720px;
        height: 1991px;
    }

    .content {
        width: 100%;
        height: 1991px;
    }

    h1 {
        width: 720px;
        height: 52px;
        font-size: 48px;
    }

    .fam-photo {
        width: 714px;
        height: 714px;
    }

    .main {
        width: 720px;
        height: 1127px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        width: 540px;
        height: 2024px;
    }

    .content {
        width: 100%;
        height: 1850px;
    }

    h1 {
        width: 401px;
        height: 105px;
        font-size: 48px;
    }

    .fam-photo {
        width: 531px;
        height: 531px;
    }

    .main {
        width: 540px;
        height: 1261px;
    }

    .blocks {
        width: 215px;
        height: 318px;
        padding: 20px 15px;
    }
}

@media screen and (max-width: 575px) {
    body {
        min-width: 575px;
    }

    .wrapper {
        width: 340px;
        height: 2711px;
    }

    .content {
        width: 100%;
        height: 2711px;
    }

    h1 {
        width: 320px;
        height: 39px;
        font-size: 36px;
    }

    .fam-photo {
        width: 379px;
        height: 379px;
    }

    .main {
        margin-top: -40px;
        width: 340px;
        height: 2121px;
    }

    .blocks {
        width: 300px;
        height: 267px;
        padding: 20px;
    }
}