body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 1140px;
    height: 1015px;
}

section {
    background-color: #e5e5e5;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1015px;
}

h1 {
    font-size: 3.75rem;
    margin: 57px auto 0;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #f12c0e;
    text-align: center;
    width: 126px;
    height: 66px;
}

.top {
    width: 793px;
    height: 76px;
    font-style: italic;
    margin: 20px auto 0;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.main {
    gap: 30px;
    margin: 20px 0px 0px;
    width: 1140px;
    height: 655px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pizza-image {
    width: 255px;
    height: 249px;
    object-fit: cover;
}

.pizza {
    padding: 30px 0 30px 30px;
    background: white;
    display: flex;
    flex-wrap: nowrap;
    width: 515px;
    height: 246px;
}

.info {
    padding: 0 25px;
    width: 220px;
    height: 249px;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
    height: 165px;
}

span {
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 0.875rem;
    line-height: 1.6;
    width: 417px;
    height: 67px;
}

h3 {
    margin: 20px 0 0;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.2;
}

.about-pizza {
    font-style: italic;
    margin: 20px 0 0 auto;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

h6 {
    font-weight: 700;
    margin: 20px 0 0;
    color: #f12c0e;
    font-size: 1.125rem;
    line-height: 1.2;
    font-family: Roboto,sans-serif;   
}

button {
    text-transform: uppercase;
    border: none;
    font-size: 0.875rem;
    margin: 20px 0 0;
    background-color: #e5e5e5;
    width: 216px;
    height: 42px;
}

button:hover {
    background-color: #cecece;
    cursor: pointer;
}

@media screen and (max-width: 1199px) {
    .main {
        width: 940px;
        height: 655px;
    }

    .pizza {
        width: 425px;
        height: 249px;
    }

    .pizza-image {
        width: 155px;
        height: 249px;
    }

    .info {
        width: 240px;
        height: 249px;
    }
    
    .wrapper {
        width: 940px;
        height: 1015px;
    }
}

@media screen and (max-width: 991px) {
    .main {
        width: 720px;
        height: 1326px;
    }

    .pizza {
        width: 690px;
        height: 249px;
    }

    .pizza-image {
        width: 300px;
        height: 249px;
    }

    .info {
        width: 320px;
        height: 249px;
    }
    
    .wrapper {
        width: 720px;
        height: 1710px;
    }

    .top {
        width: 720px;
        height: 102px;
    }

    section {
        height: 1710px;
    }
}

@media screen and (max-width: 767px) {
    .main {
        width: 540px;
        height: 1349px;
    }

    .pizza {
        width: 510px;
        height: 249px;
    }

    .pizza-image {
        width: 245px;
        height: 249px;
    }

    .info {
        width: 240px;
        height: 249px;
    }
    
    .wrapper {
        width: 540px;
        height: 1759px;
    }

    .top {
        width: 540px;
        height: 127px;
    }
}

@media screen and (max-width: 575px) {
    body {
        max-height: 901px;
        min-width: 575px;
    }

    .main {
        width: 340px;
        height: 2040px;
    }

    section {
        height: 2501px;
    }

    .pizza {
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 433.97px;
    }

    .pizza-image {
        width: 300px;
        height: 200px;
    }

    .info {
        padding: 0;
        width: 290px;
        height: 208px;
    }
    
    .wrapper {
        width: 340px;
        height: 2501px;
    }

    .top {
        width: 340px;
        height: 204px;
    }
}

